.gitignore
.gitattributes
.git/
*/build/
*/dist/
*/nbproject/
*/settings/
*/build.xml
*/manifest.mf
/RalexBot/target/
/RalexBotAddons/target/
/RalexBot/extensions/
/RalexBot/data/
/RalexBot/databases/
/RalexBot/run.bat
RalexBot/RalexBot*.jar
RalexBot/logs.txt
