RalexBot/build
RalexBot/dist
RalexBot/extensions
RalexBotAddons/build
RalexBotAddons/dist
/RalexBotAddons/nbproject/private/
/MiniAbsol/nbproject/private/
/PluginUpdate/nbproject/private/
/NetworkExample/nbproject/private/
/Bouncer/nbproject/private/
/Bouncer/dist/
/Bouncer/build/
/MasterBot/nbproject/private/